body {
  font-family: 'Poppins', sans-serif;
}

.dark {
  & .app {
    background-image: url("assets/images/page-bg-dark.jpg");
  }
}

.app {
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url("assets/images/page-bg-light.jpg");
}

.headline {
  &-1 {
    font-family: 'Playfair Display', sans-serif;
    @apply text-4xl font-bold tracking-wide relative text-dark dark:text-white inline-block;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: 4px;
      width: 100%;
      height: 3px;
      background-color: var(--theme-primary);
      border-radius: 5px;
      background: #fa5252;
      background: linear-gradient(97deg, #fa5252, #dd2476);
    }
  }
}
